<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <link media="only screen and (max-device-width: 480px)" href="/static/small.css" type= "text/css" rel="stylesheet">
  <link media="screen and (min-device-width: 481px)" href="/static/style.css" type="text/css" rel="stylesheet">
  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
</head>
<body>
  <div id="header">
    <a href="/">Home</a>
    <h2>{% block heading %}{% endblock %}</h2>
  </div>
{% if message %}
  <div id="message">{{ message }}</div>
{% endif %}

  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
  <br/>
  <div id="footer">
Sample application by <a href="http://www.supernifty.com.au/">Supernifty</a>. 
  </div>
</body>
</html>
